/* Grid styles */

/* formatting the banner */
.banner-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.logo {
  background-color: rgb(66, 200, 245);
  padding: 20px;
}
.navbar {
  background-color: rgb(66, 200, 245);
  text-align: right;
  padding: 20px;
}

/* Formatting cards in content area */
.content-container {
  margin-top: 20px;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.card {
  border: 1px solid rgb(12, 34, 56);
  border-radius: 20px;
  overflow: hidden;
}
/* Dealing with images in cards */
.card img {
  max-width: 100%;
  height: auto;
}
.card p {
  margin-left: 10px;
}
